doctype html

html(lang='ko')
  head
    meta(charset='utf-8')
    //- meta(name='viewport' content='width=device-width, initial-scale=1')

    title [##_page_title_##] - [##_title_##]

    link(rel='alternate' type='application/rss+xml' title='[##_title_##]' href='[##_rss_url_##]')

  body(id='[##_body_id_##]')
    block TIDORY

    //- 2차도메인 댓글 처리기
    script(src='https://cdn.jsdelivr.net/gh/hi098123/tistory2/dist/tistory2.min.js' async)

style(media='screen').
  /* CSS Document */
  html {
    -webkit-text-size-adjust: 100%;
  }
  a {
    background-color: transparent;
  }
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  body{
    margin:0;
    font:13px 'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif, Verdana, Arial, 'Trebuchet MS';
    color:#333;
    text-align:center;
    background-color:/*@background-color=*/#DDD/*@*/;
  }
  a:link	{text-decoration:none; color:#333;}
  a:hover	{text-decoration:none; color:#999;}
  a:active	{text-decoration:none; color:#FF0033;}
  a:visited	{text-decoration:none; color:#333;}

  /*공통*/
  h1, h2, h3, h4	{margin:0; padding:0;}
  ul, ol	{margin:0; padding:0; list-style:none;}
  img	{border:none;}
  input, textarea{
    font:13px 'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif, Verdana, Arial, 'Trebuchet MS';
  }

  /* Float bug */
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
  .clearfix {
    display: inline-block;
    }
  /* Hides from IE-mac \*/
  * html .clearfix {height: 1%;}
  /* */
