doctype html

html(lang='ko')
  head
    meta(charset='utf-8')
    //- meta(name='viewport' content='width=device-width, initial-scale=1')

    title [##_page_title_##] - [##_title_##]

    link(rel="alternate" type="application/rss+xml" title="[##_title_##]" href="[##_rss_url_##]")

  body(id='[##_body_id_##]')
    block TIDORY

style.
  /* CSS Document */
  html {
    -webkit-text-size-adjust: 100%;
  }
  a {
    background-color: transparent;
  }
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  body{
    margin:0;
    font:13px 'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif, Verdana, Arial, 'Trebuchet MS';
    color:#333;
    text-align:center;
    background-color:/*@background-color=*/#DDD/*@*/;
  }
  a:link	{text-decoration:none; color:#333;}
  a:hover	{text-decoration:none; color:#999;}
  a:active	{text-decoration:none; color:#FF0033;}
  a:visited	{text-decoration:none; color:#333;}

  /*공통*/
  h1, h2, h3, h4	{margin:0; padding:0;}
  ul, ol	{margin:0; padding:0; list-style:none;}
  img	{border:none;}
  input, textarea{
    font:13px 'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif, Verdana, Arial, 'Trebuchet MS';
  }

  /*레이아웃*/
  #container{
    margin:0 auto;
    padding:0 25px;
    width:/*@post-width:280=*/930px/*@*/;
    background-color:#fff;
    text-align:left;
    }

  #header{
  padding-top:80px;
  width:/*@post-width:280=*/930px/*@*/;
    height:/*@title-height:-80=*/150px/*@*/;
    position:relative;
    text-align:left;
    border-bottom:1px solid #DDD;
    background-image:/*@title-background-image=*/none/*@*/;
    background-repeat:/*@title-background-image-repeat=*/repeat/*@*/;
    background-position:/*@title-background-image-position=*/left top/*@*/;
    background-color:/*@title-background-color=*/transparent/*@*/;
  }
  #content{
    padding-top:15px;
    width:/*@post-width:10=*/660px/*@*/;
    background-color:#fff;
    float:left;
  }
  #sidebar{
    padding:15px 0;
    width:240px;
    float:right;
    background-color:#fff;
  }
  #footer{
    width:/*@post-width:280=*/930px/*@*/;
    clear:both;
    background-color:#fff;
    height:70px;
  }

  #footertop{
  width:/*@post-width:280=*/930px/*@*/;
  height:5px;
  background:url(./images/areas.png) repeat-x;
  font-size:0;
  line-height:0;
  }

  /*헤더header*/

  #header h2{
    margin-left:30px;
    color:#999;
    font:16px 'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif,  Vernada, Tahoma, Arial;
  }

  #header h1{
    background-color:transparent;
    margin-left:30px;
  }

  #header h1 a{
    font:/*@title-font-size=*/28px/*@*/ /*@title-font-family=*/'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif/*@*/;
    color:/*@title-color=*/#333/*@*/;
    text-shadow: 1px 1px #ddd;
  }


  #menu{
    width:/*@post-width:280=*/930px/*@*/;
    height:40px;
    font:14px/20px 'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
    border-bottom:1px solid #ddd;
    text-transform:uppercase;
    letter-spacing:-1px;
    padding-top: 5px;

    background: #fff url("./images/red-menutops.png") repeat-x;
    position:absolute;
    top:0;left:0;

    display: flex;
  }
  #menu a{
    margin-top:5px;
    padding:8px 15px;
    text-shadow: 1px 1px #ddd;
  }
  #menu a:first-of-type {
    margin-left: 30px;
  }
  #menu a:hover	{text-decoration:none; color:#999;}
  #menu .spacer {
    flex: 1;
  }

  body#tt-body-index #menu a.blog,
  body#tt-body-page #menu a.blog,
  body#tt-body-category #menu a.blog,
  body#tt-body-notice #menu a.notice,
  body#tt-body-tag #menu a.tag,
  body#tt-body-location #menu a.localog,
  body#tt-body-media #menu a.media,
  body#tt-body-guestbook #menu a.guestbook {
    font-weight:bold;
    background-image:url(./images/red-menuback.png);
    color:#fff;
  }


  /*기타nonEntry*/

  #searchList{
  }
  #searchList ol, #searchRplist ol{
    margin:15px 0;
    padding:15px;
    border:1px dotted #DDD;
    list-style:decimal inside;
  }
  #searchList ol li, #searchRplist ol li{
    padding:5px 0;
  }
  #searchList .cnt, #searchRplist .cnt{
    font:11px 'Trebuchet MS';
    text-transform:uppercase;
    letter-spacing:1px;
    color:#FF6600;
  }
  #searchList .date, #searchRplist .date{
    font:11px 'Trebuchet MS';
    text-transform:uppercase;
    letter-spacing:1px;
    color:#999;
  }
  #searchRplist .name{
    color:#999;
  }

  #taglog{
  }

  #taglog h3{
  width:200px;
  height:21px;
  background:url(./images/bannert.png) no-repeat;
  }

  #taglog ul{
    margin:15px 0;
    padding:15px;
    border:1px dotted #DDD;
    text-align:justify;
    line-height:200%;
  }
  #taglog li	{background:none;  display:inline;}
  #taglog a	{padding:3px 5px; color:#333;}
  #taglog a:hover	{color:#333; text-decoration:underline;}
  #taglog a:visited	{color:#999;}
  #taglog li a.cloud1	{font-weight:bold;  background-color:#ffe9f6; color:#e55147;}
  #taglog li a.cloud2	{background-color:#f4f4b9; color:#338543;}
  #taglog li a.cloud3	{color:#3a7eeb;}
  #taglog li a.cloud4	{color:#111; }
  #taglog li a.cloud5	{color:#777; }

  #localog{
  }

  #localog h3{
  width:250px;
  height:21px;
  background:url(./images/bannerl.png) no-repeat;
  }

  #localog .localogBody{
    margin:15px 0;
    padding:15px;
    border:1px dotted #DDD;
  }
  #localog .spot{
    padding:5px 0 5px 7px;
    background:url(./images/flag.png) no-repeat -5px 5px;
  }
  #localog .localspot{
    margin-left:5px;
  }
  #localog .info{
    padding:5px 0;
  }
  #localog .info a{
    color:#00368f;
  }
  #localog .info a:hover{
    text-decoration:underline;
  }

  #entryProtected{
  }

  #entryProtected .input{
    width:150px;
    height:18px;
    border:1px solid #DDD;
  }
  #entryProtected .input_on{
    width:150px;
    height:18px;
    border:1px solid #FF6600;
  }
  #entryProtected .submit{
    padding-bottom:2px;
    border-bottom:1px dashed #DDD;
    cursor:pointer;
  }


  /*본문entry*/
  #entry h2 a, #nonEntry h3, #nonEntry h3 a{
    font-size:/*@post-title-font-size=*/28px/*@*/;
    font-family:/*@post-title-font-family=*/'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif/*@*/;
    color:/*@post-title-color=*/#000/*@*/; letter-spacing:-2px;
    font-weight:bold;
  }
  #entry h2 .subj, .titleWrap .subj{
    position:relative;
    z-index:10;
    text-shadow: 1px 1px #ddd;
  }
  #entry h2 .subs, .titleWrap .subs{
    font-size:/*@post-title-font-size=*/20px/*@*/;
    font-family:/*@post-title-font-family=*/'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif/*@*/;
    color:/*@post-title-color=*/#ddd/*@*/; letter-spacing:-2px;
    position:absolute;
    z-index:5;
    margin:1px 1px 1px;
    width:/*@post-width:10=*/660px/*@*/;
  }

  #entryNotice h3, #entryNotice h3 a{
  font-size:/*@post-title-font-size=*/20px/*@*/;
  font-family:/*@post-title-font-family=*/'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif/*@*/;
  }


  .titleWrap .info{
    font:11px 'Trebuchet MS';
    text-transform:uppercase;
    letter-spacing:1px;
    color:#999;
  }
  .titleWrap a.category{
    font:12px 'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif, Verdana, Arial, 'Trebuchet MS';
  }
  .titleWrap .admin{
    padding:5px;
    margin-top:15px;
    border:1px solid #DDD;
    background-color:#F7F7F7;
  }

  .article{
    margin:15px 0;
    font:/*@post-body-font-size=*/1rem/*@*/ /*@post-body-font-family=*/'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif/*@*/;
    line-height:180%;
    color:/*@post-body-color=*/#333/*@*/;
    text-align:justify;
    word-break: keep-all;
  }

  .article a:link	{color:/*#00368f*/#0053db;}
  .article a:visited	{color:/*#00368f*/#0053db;}
  .article a:hover	{color:#cc0000;}

  .article h1, .article h2, .article h3, .article h4 {
    margin:revert;
    padding:1.5em 0 .5em 0;
    font-size: revert;
    border-bottom: 1px solid #ccc;
  }

  .article ul, .article ol{
    margin: revert;
    padding: revert;
    list-style: revert;
  }

  .article .imageblock, .article .box{
    padding:10px;
    margin:10px 0;
    border:1px solid #ddd;
  }
  .article figure, .article .imageblock, .article .imageslideblock{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .article .imageslideblock img {
    padding: 0;
    margin: 0;
    border: none;
  }

  .article pre, .article .pre{
    padding:10px;
    margin:10px 0;
    border:1px solid #ddd;
    word-break:break-all;
    line-height: 1.5;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace !important;
  }

  .article code {
    padding: 3px;
    border:1px solid #ddd;
    word-break:break-all;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace !important;
  }
  .article pre code {
    padding: revert;
    border: revert;
  }

  .article table{
    width:100%;
    border-collapse:collapse;
    font:11px Verdana;
  }
  .article th, .article td{
    padding:5px 7px;
    border:1px solid #c1c1c1;
    text-align:center;
  }
  .article .gist td {
    border: none;
  }
  .article th{
    background-color:#e9e9e9;
  }
  .cap1{
    margin:5px 0;
    padding:0;
    color:#888;
  }
  blockquote{
    margin:15px 0;
    padding:0 0 0 27px;
    background:url(./images/bg_block.gif) no-repeat;
    font-style:italic;
  }
  .moreless_fold span{
    padding-left:17px;
    background:url(./images/script--plus.png) no-repeat 0 0px;
  }
  .moreless_top span{
    padding-left:17px;
    background:url(./images/script--minus.png) no-repeat 0 0px;
  }
  .moreless_bottom span{
    padding-right:17px;
    background:url(./images/script--minus.png) no-repeat right 0px;
  }
  .moreless_fold{
  }
  .moreless_top{
  }
  .moreless_content{
    padding:15px 0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
  }
  .moreless_bottom{
    text-align:right;
  }

  .tagTrail{
    margin-bottom:15px;
    background:url(./images/tag--arrow.png) no-repeat;
  }
  .tagTrail .tagtext{
  margin-left:20px;
  }

  .actionTrail{
    padding-bottom:10px;
    width:/*@post-width:10=*/660px/*@*/;
    border-bottom:1px solid #DDD;
    text-align:right;
  }
  .actionTrail .cnt{
    font:11px 'Trebuchet MS';
    text-transform:uppercase;
    letter-spacing:1px;
    color:#FF6600;
  }

  .trackback{
    clear:left;
    margin-top:10px;
    padding-bottom:10px;
    border-bottom:1px solid #DDD;
  }
  .trackback h3{
    font:11px 'Trebuchet MS';
    text-transform:uppercase;
    letter-spacing:1px;
    text-align:center;
    color:#999;
  }
  .trackback ol{
    margin-top:10px;
    border-top:1px dotted #DDD;
    list-style:decimal inside;
  }
  .trackback ol li{
    margin-top:10px;
  }
  .trackback ol li a{
    color:#556eac;
  }
  .trackback ol li a:hover{
    text-decoration:underline;
  }
  .trackback ol li a:active{
    color:#FF0033;
  }
  .trackback ol li .from{
    color:#999;
  }
  .trackback ol li a.del{
    color:#999;
    font:11px 'Trebuchet MS';
    text-transform:uppercase;
    letter-spacing:1px;
  }
  .trackback ol li a:hover.del{
    text-decoration:underline;
  }

  .comment{
    text-align:justify;
    word-break: keep-all;
  }

  .commentList ol{
    margin-top:10px;
  }
  .commentList ol li{
    margin-top:10px;
    border-bottom:1px dotted #DDD;
  }
  .commentList ol li img{
    vertical-align:middle;
    padding:2px;
    width:16px;
    height:16px;
    border:1px solid #DDD;
    background-color:#FFF;
  }
  .commentList ol li .name{
    margin-bottom:5px;
    font:16px 'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
  color:#2290ff;
  }
  .commentList ol li .name a{
    margin-bottom:5px;
    font:16px 'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
  color:#1568bc;
  }
  .commentList ol li .replyFrom{
    font:11px 'Trebuchet MS';
    text-transform:uppercase;
    letter-spacing:1px;
    color:#999;
  }
  .commentList ol li .date{
    font:11px 'Trebuchet MS';
    text-transform:uppercase;
    letter-spacing:1px;
    color:#999;
  }
  .commentList ol li .date a,
  .commentList ol li .date button {
    color:#999;
    padding: 0;
    border: 0;
    cursor: pointer;
  }
  .commentList ol li .date a:hover,
  .commentList ol li .date button:hover {
    text-decoration:underline;
  }
  .commentList ol li .reply{
    margin:5px 0;
    line-height:140%;
  }
  .commentList ol li .reply img{
    padding:0;
    margin:0;
    width:auto;
    height:auto;
    border:none;
    background:none;
  }
  .commentList ol li ul{
    list-style:none outside;
    margin-left:50px;
    margin-bottom:0;
  }
  .commentList ol li ul li{
    padding:10px;
    margin:10px 0;
    background-color:#F7F7F7;
    border:1px solid #DDD;
  }

  .commentWrite{
    margin-top:10px;
    margin-bottom:20px;
    padding:15px;
    border:1px dotted #DDD;
    font:11px 'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
  }
  .commentWrite h3, #nonEntry .commentWrite h3{
    margin-bottom:10px;
    font:16px 'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
  }
  .commentWrite p{
    margin:0 0 10px 0;
  }
  .commentWrite .point{
  width:16px;
  height:16px;
  background:url(./images/tick-small.png) no-repeat;
  background-position:-3px 0px;
  color:#fff;
  }
  .commentWrite .input{
    width:150px;
    height:18px;
    border:1px solid #DDD;
    background:#F7F7F7;
  }
  .commentWrite .input_on{
    width:150px;
    height:18px;
    border:1px solid #FF6600;
    background:#F7F7F7;
  }
  .commentWrite .textarea{
    width:99%;
    height:100px;
    border:1px solid #DDD;
    background:#F7F7F7;
  }
  .commentWrite .textarea_on{
    width:99%;
    height:100px;
    border:1px solid #FF6600;
    background:#F7F7F7;
  }
  .commentWrite a.submit{
    display:block;
    width:125px;
    height:25px;
    background:url(./images/comment.png) no-repeat 0 0;
    text-indent:-9999px;
    padding-bottom:2px;
    cursor:pointer;
    float:right;
  }

  .commentWrite a.submit:hover{
    background-position:0px -25px;
  }

  .commentWrite p.secretWrap{
    margin-bottom:0;
    font:11px 'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
  }

  /*페이징paging*/
  #paging{
    width:/*@post-width:10=*/660px/*@*/;
    text-align:center;
    padding-top:10px;
    margin:10px 0;
    font:11px 'Trebuchet MS';
    text-transform:uppercase;
  }
  #paging .selected{
    color:#FF9900;
  }
  #paging .numbox{
  }

  #paging a.num{
    padding:2px 6px;
    border:1px solid #ddd;
  }
  #paging a:hover.num{
    border:1px solid #ff9900;
  }
  #paging a.prev{
    display:block;
    width:80px;
    height:35px;
    background:url(./images/red-prev.png) no-repeat;
    float:left;
  }
  #paging a.next{
    display:block;
    width:80px;
    height:35px;
    background:url(./images/red-next.png) no-repeat;
    float:right;
  }
  #paging a:hover.prev, #paging a:hover.next{
    background-position:0 -35px;
  }
  #paging a.prev span, #paging a.next span{
    display:none;
  }

  /*사이드바sidebar*/
  .search{
    margin-bottom:15px;
    padding:2px;
    border:1px solid #DDD;
    background:#FFF url(./images/red-search1.png) no-repeat 210px 5px;
  height:28px;
  }
  .search .searchinput{
    width:200px;
    border:none;
    background:none;
    cursor:text;
  }
  .search .submit{
    width:25px;
    height:25px;
    border:none;
    background:none;
    cursor:pointer;
  }
  .search:hover{
  background-color:#f7f7f7;
  }

  #sidebar .module{
    margin-bottom:15px;
  }
  #sidebar h3{
    padding:3px 5px;
    font:16px 'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
  font-weight:bold;
  border-bottom:1px solid #ddd;
  background-color:#fff;
    text-transform:uppercase;
    letter-spacing:-1px;
  }

  #sidebar h3 .subj{
    color:#e01419;
    position:relative;
    z-index:10;
    text-shadow: 1px 1px #aaa;
  }

  #sidebar h3 .subs{
    color:#aaa;
    position:absolute;
    z-index:5;
    margin:1px 1px 1px;
  }

  #sidebar .cnt, .c_cnt{
    font:11px 'Trebuchet MS';
    text-transform:uppercase;
    letter-spacing:1px;
  color:#777;
  }
  #sidebar .name{
    color:#999;
  }
  #sidebar .date{
    font:11px 'Trebuchet MS';
    text-transform:uppercase;
    letter-spacing:1px;
  }

  #sidebar ul li{
    padding:5px 0 0 7px;
  }

  #sidebar ul li a:hover{
  color:#999;
  }

  #recentPost ul li:hover, #recentComment ul li:hover, #recentTrackback ul li:hover, #archive ul li:hover, #link ul li:hover{
    background:url(./images/control-000-small.png) no-repeat -6px 6px;
  }

  #blogImage{
    margin-bottom:15px;
  }
  #blogImage img{
    width:240px;
  }
  #blogImage .bloger{
    color:#999;
  }
  #blogImage .blogerText{
    font:11px 'Trebuchet MS';
    text-transform:uppercase;
    letter-spacing:1px;
  }

  #notice ul li{
  padding:5px 0 0;
  background:url(./images/bookmark--arrow.png) no-repeat;
  background-position:0px 5px;
  }

  #notice .noticelink{
  margin-left:20px;
  }

  #sidebar ul li #category ul{
  }
  #sidebar ul li #category ul li ul{
    padding:0;
  }
  #sidebar ul li #category ul li{
    padding:0;
    border:none;
  }
  #category ul li a{
    display:block;
    padding:5px 0 0px 20px;
    height:18px;
    background:url(./images/folder-horizontal.png) no-repeat 0 7px;
  }
  #category ul li a:hover{
    padding:5px 0 0px 20px;
    background:url(./images/folder-horizontal-open.png) no-repeat 0 7px;
  }

  #category ul li ul li a{
    border-top:1px solid #EFEFEF;
  }
  #category ul li ul li ul li a{
    padding-left:20px;
    background:none !important;
    border:none;
  }
  #sidebar li:hover #category ul li ul li ul li a{
    padding-left:20px;
    background:none !important;
  }

  #category .categoryBody{
  }

  .ib			{cursor:pointer;}
  .branch3	{cursor:pointer;}

  #tagbox ul					{ text-align:justify; line-height:200%; margin-top:5px; width:240px;}
  #tagbox ul li 					{ display:inline; border:none; background:none; padding:0;}
  #tagbox li a	{padding:3px;}
  #tagbox li a.cloud1		{font-weight:bold;  background-color:#ffe9f6; color:#e55147;}
  #tagbox li a.cloud2 	{background-color:#f4f4b9; color:#338543;}
  #tagbox li a.cloud3		{color:#3a7eeb;}
  #tagbox li a.cloud4		{color:#111;}
  #tagbox li a.cloud5		{color:#777;}

  #counter{
    padding:5px;
    margin-bottom:15px;
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
    background-color:#fff;
    font:11px 'Trebuchet MS';
    text-transform:uppercase;
    letter-spacing:1px;
    color:#333;
  }
  #counter .total{
    font:13px 'Trebuchet MS';
  }
  #counter .anoday, #counter .anoday2{
    color:#777;
    margin-left:2px;
    margin-top:2px;
  }

  #counter .counterNum{
    color:#e01419;
  }
  #counter .counterNum2{
    color:#3a7eeb;
  }
  #counter .counterNum3{
    color:#338543;
  }

  /*푸터footer*/
  #copyright{
    background:#fff;
    margin-top:5px;
    padding:5px 0;
    font:12px 'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
    text-transform:uppercase;
    letter-spacing:0px;
    text-align:left;
    color:#777;
    line-height:160%;
    float:left;
  }
  #copyright a{
    color:#777;
  }
  #copyright a:hover{
    text-decoration:underline;
  }
  .nanum	{color:#333333;}
  .tistory	{color:#FF6600;}
  .daum1	{color:#f0c800;}
  .daum2	{color:#fd8116;}
  .daum3	{color:#74ca2d;}
  .daum4	{color:#6b96fc;}
  .suspect	{color:#acc1d2;}
  .lawlite1	{color:#000000;}
  .lawlite2	{color:#393939;}
  .lawlite3	{color:#3F3F3F;}
  .lawlite4	{color:#404040;}
  .lawlite5	{color:#5F5F5F;}
  .lawlite6	{color:#606060;}
  .lawlite7	{color:#6F6F6F;}

  #rssbutton{
  margin-top:10px;
  float:right;
  width:32px;
  height:32px;
  }

  /* 각주 */
  div.footnotes { margin-top: 10px; border-top:#ccc 1px dashed;  }

  /* Float bug */
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
  .clearfix {
    display: inline-block;
    }
  /* Hides from IE-mac \*/
  * html .clearfix {height: 1%;}
  /* */
