extends app

block TIDORY
  s_t3
    #container
      include views/Header
      include views/Main
      include views/Sidebar
      include views/Footer

  style(media='screen').
    #container{
      margin:0 auto;
      padding:0 25px;
      width:/*@post-width:280=*/930px/*@*/;
      background-color:#fff;
      text-align:left;
      }
