main#content
  include Main/NonEntry
  include Main/Entry
  include Main/Paging

style(media='screen').
  #content{
    padding-top:15px;
    width:/*@post-width:10=*/660px/*@*/;
    background-color:#fff;
    float:left;
  }
