s_notice_rep: #entryNotice
  .titleWrap
    h3: a(href='[##_notice_rep_link_##]') [##_notice_rep_title_##]
    span.info
      | Posted at <span class="date">[##_notice_rep_date_##]</span>
  .article [##_notice_rep_desc_##]
