s_tb: .trackback.
  <h3> [##_tb_address_##]</h3>
  <s_tb_container>
    <ol>
      <s_tb_rep>
        <li id="[##_tb_rep_id_##]">
          <a href="[##_tb_rep_url_##]" onclick="window.open(this.href); return false" rel="external nofollow">[##_tb_rep_title_##]</a>
          <span class="from"> //
            <span class="name">[##_tb_rep_site_##]</span>
            [##_tb_rep_date_##]
            <a href="#" onclick="[##_tb_rep_onclick_delete_##]; return false" title="삭제" class="del">[Delete]</a>
          </span>
        </li>
      </s_tb_rep>
    </ol>
  </s_tb_container>

style(media='screen').
  .trackback{
    clear:left;
    margin-top:10px;
    padding-bottom:10px;
    border-bottom:1px solid #DDD;
  }
  .trackback h3{
    font:11px 'Trebuchet MS';
    text-transform:uppercase;
    letter-spacing:1px;
    text-align:center;
    color:#999;
  }
  .trackback ol{
    margin-top:10px;
    border-top:1px dotted #DDD;
    list-style:decimal inside;
  }
  .trackback ol li{
    margin-top:10px;
  }
  .trackback ol li a{
    color:#556eac;
  }
  .trackback ol li a:hover{
    text-decoration:underline;
  }
  .trackback ol li a:active{
    color:#FF0033;
  }
  .trackback ol li .from{
    color:#999;
  }
  .trackback ol li a.del{
    color:#999;
    font:11px 'Trebuchet MS';
    text-transform:uppercase;
    letter-spacing:1px;
  }
  .trackback ol li a:hover.del{
    text-decoration:underline;
  }
