s_sidebar_element
  //최근 보관함
  #archive.module
    h3 Archive
    ul
      s_archive_rep: li
        a(href='[##_archive_rep_link_##]') [##_archive_rep_date_##]
        |
        |
        span.cnt ([##_archive_rep_count_##])

style(media='screen').
