h1: a(href='[##_blog_link_##]' title='처음으로') [##_title_##]
//- h2 [##_desc_##]

style(media='screen').
  #header h1{
    background-color:transparent;
    margin-left:30px;
  }
  #header h1 a{
    font:/*@title-font-size=*/28px/*@*/ /*@title-font-family=*/'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif/*@*/;
    color:/*@title-color=*/#333/*@*/;
    text-shadow: 1px 1px #ddd;
  }

  #header h2{
    margin-left:30px;
    color:#999;
    font:16px 'Noto Sans DemiLight',AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif,  Vernada, Tahoma, Arial;
  }
